<template>
  <div class="home">
  	<div class="search">
  		<input type="search" v-model="searchValue" @change="onSearch">
  	</div>
  	<div class="list">
  		
  		<div v-if="isLoading">Loading...</div>	
  		
  		<template v-else>
	  		<ul v-if="geoObjectsList.length">
	  			<li 
	  				v-for="object in geoObjectsList" 
	  				:key="object.place_id" 
	  				@click="onGeoObjectClick([object.lat, object.lon])"
	  			>
	  				{{object.display_name}}
	  				<hr>
	  			</li>
	  		</ul>
	  		<div v-else>Nothing to show. Lets search something</div>
  		</template>

  	</div>
  	<div class="map">
  		<AppMap :center.sync="center"/>
  	</div>
  </div>
</template>

<script>

import {fetchList} from '@/api/geoCoder';	
import AppMap from '@/components/Map';

export default {
  name: 'Home',
  components: {
    AppMap,
  },

  data: () => ({
  	/** Флаг для спиннера*/
  	isLoading: false,

  	/** Значение строки поиска*/
  	searchValue: '',

  	/** Список геообъектов*/
  	geoObjectsList: [],

  	/** Центр карты по-умолчанию*/
  	center: [55.413220, 37.219482]
  }),

  methods: {
  	/** Обработчик поиска*/
  	onSearch() {
  		this.isLoading = true;
  		fetchList({
  			query: { 
  				q: this.searchValue,
  				format: 'json' 
  			}
  		})
  			.then( response => this.geoObjectsList = response.data)
  			.finally( this.isLoading = false);  		  
  	},

  	/** 
  	 * Обработчик клика
  	 * @param latLon - ккординаты объекта
  	 */
  	onGeoObjectClick(latLon) {
  		this.center = latLon;
  	},

  	
  }
}
</script>
<style scoped="" lang="scss">
	.home {
		display: flex;
		flex-wrap: wrap;
	}

	.search {
		width: 100%;
		margin-bottom: 2rem;
	}

	.map, .list {
		width: 50%;
	}

	.map {
		height: 500px;
	}

	.list {
		li {
			cursor: pointer;
			&:hover {
				color: blue;
			}
		}
	}
</style>
