<template>
  <div class="login">
    <form @submit.prevent="onSubmit">
      <label>
        <div>login</div>
        <input type="text" v-model="login" placeholder="test">
      </label>
      <label>
        <div>password</div>
        <input type="password" v-model="password" placeholder="123">
      </label>

      <div v-if=" isSubmited && !isValid">Введены неверные учетные данные</div>

      <div>
      	<button>Submit</button>      	
      </div>
    </form>
  </div>
</template>

<script>
import { setToken } from "@/utils/auth";

export default {
  name: 'Login',

  data: () => ({
    login: '',
    password: '',   
    isValid: false,
    isSubmited: false,

    trueLogin: 'test', 
    truePassword: '123', 
  }),

  methods: {
  	onSubmit() {  		
  		this.isSubmited = true;

      // для примера естественно. Нормальная авторизация подразумевает взаимодействие с сервером
  		if ( this.login === this.trueLogin && this.password === this.truePassword) {
        setToken('isLoggedIn'); 
  			this.isValid = true;
  			this.$router.push('/');

  		} else {
  			this.isValid = false;
  		} 
  	}

  }

}
</script>

<style scoped lang="scss">

</style>
