<template>
  <l-map
    ref="map"
    style="height: 100%; width: 100%"
    :zoom="zoom"
    :maxZoom="maxZoom"
    :center="center"
  >
    <l-tile-layer 
        v-for="tileProvider in tileProviders"
        :key="tileProvider.name"
        :name="tileProvider.name"
        :visible="tileProvider.visible"
        :url="tileProvider.url"
        :attribution="tileProvider.attribution"
        layer-type="base"
    ></l-tile-layer>
  </l-map>
</template>

<script>

import { LMap, LTileLayer } from 'vue2-leaflet';

export default {

  // для нашей простой задачи карту можно было не выносить в отдельный компонент
  // тут я вынес его, чтобы отделить данные для карты, которых может быть много
  // от данных геообъектов для удобочитаемости

  name: 'Map',

  components: { LMap, LTileLayer },

  props: {
    center: { // по мере необходимости можно вынести в пропсы больше настроек
      type: Array, // Можно и более продвинутую типизацию сделать если надо
      required: true
    }
  },

  data: () => ({
     zoom: 10,
     maxZoom: 16,
     tileProviders: [
       {
         name: 'OpenStreetMap',
         visible: true,
         attribution: '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
         url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
       }       
     ]
  }),
}
</script>

<style scoped lang="scss">

</style>
