<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/login">Login</router-link>
      <hr>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

</style>
